[submodule "boost-cmake"]
	path = boost-cmake
	url = https://github.com/ClausKlein/boost-cmake.git
[submodule "crow"]
	path = crow
	url = https://github.com/tennisbowling/crow.git
[submodule "leveldb"]
	path = leveldb
	url = https://github.com/google/leveldb.git
